@import '../../styles/colors';

.skeleton-loader {
    background: #E8E8E8;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #E8E8E8), color-stop(18%, #F2F2F2), color-stop(33%, #E8E8E8));
    background: linear-gradient(to right, #E8E8E8 8%, #F2F2F2 18%, #E8E8E8 33%);
    background-size: 800px 100px;
    animation: wave-lines 1s infinite ease-out;
}

@keyframes wave-lines {
    0% {
        background-position: -468px 0;
    }
     100% {
        background-position: 468px 0;
    }
}