@import '../../../../../styles/formats', '../../../../../styles/colors';

.card-link {
    border-radius: $border-radius-md;
    border: $border-widths-lg solid $color-brand-primary-medium;

    color: $color-brand-primary-medium;
    display: block;
    padding: $spacing-stack-xlarge 0;
    text-decoration: none;

    span {
        color: inherit;
    }

    &:hover {
        color: $color-brand-primary-medium;
        text-decoration: underline;
    }
}