// ------ BRAND -------

// BRAND - PRIMARY
$color-brand-primary-dark: #031032;
$color-brand-primary-medium: #737c99;
$color-brand-primary-light: #8590b3;

// BRAND - SECONDARY
$color-brand-secondary-dark: #515151;
$color-brand-secondary-medium: #767676;
$color-brand-secondary-light: #a2a2a2;

// ------ NEUTRAL -------

// NEUTRAL - BASE
$color-base-black: #000000;
$color-base-white: #FFFFFF;

// NEUTRAL - GREY
$color-text-900: #1B1F1C;
$color-text-800: #3D3D3D;
$color-text-700: #929292;
$color-text-500: #adadad;
$color-text-300: #cfcfcf;
$color-text-100: #e3e3e3;

// ------ FEEDBACK -------

// FEEDBACK - SUCCESS
$color-feedback-success-base: #3adb76;
$color-feedback-success-light: #84fdb0;

// FEEDBACK - WARNING
$color-feedback-warning-base: #ffae00;
$color-feedback-warning-light: #fac85a;

// FEEDBACK - ERROR
$color-feedback-error-base: #cc4b37;
$color-feedback-error-light: #f27663;

// ------ ALIASES -------

// ALIASES - PLATAFORMA
$color-aliases-plataforma-border: #CCCCCC;
$color-aliases-plataforma-textdefault: #3F353D;
$color-aliases-plataforma-supporttext: #5C4F5A;
$color-aliases-plataforma-placeholder: #B8B4B7;
$color-aliases-plataforma-tooltip: #262025;