// ------ FONT FAMILIES -------

$font-families-default: 'Inter', sans-serif;
$font-families-reading: 'Inter', sans-serif;
$font-families-highlights: 'Inter', sans-serif;


// ------ FONT WEIGHTS -------

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;


// ------ LINE HEIGHTS -------

$line-height-none: 100%;
$line-height-sm: 120%;
$line-height-base: 140%;
$line-height-lg: 160%;
$line-height-xlg: 180%;


// ------ FONT SIZES -------

$font-size-xxxs: 10px;
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xlg: 20px;
$font-size-xxlg: 24px;
$font-size-3xlg: 32px;
$font-size-4xlg: 40px;
$font-size-huge: 48px;
$font-size-xhuge: 56px;