.mb-pixel {
    margin-bottom: $spacing-stack-pixel;
}

.mb-xxsm {
    margin-bottom: $spacing-stack-xxsmall;
}

.mb-xsm {
    margin-bottom: $spacing-stack-xsmall;
}

.mb-sm {
    margin-bottom: $spacing-stack-small;
}

.mb-md {
    margin-bottom: $spacing-stack-medium;
}

.mb-lg {
    margin-bottom: $spacing-stack-large;
}

.mb-xlg {
    margin-bottom: $spacing-stack-xlarge;
}

.mb-xxlg {
    margin-bottom: $spacing-stack-xxlarge;
}

.mb-xxxlg {
    margin-bottom: $spacing-stack-xxxlarge;
}

.mb-huge {
    margin-bottom: $spacing-stack-huge;
}

.mb-xhuge {
    margin-bottom: $spacing-stack-xhuge;
}

// ----------------------------

.mt-pixel {
    margin-top: $spacing-stack-pixel;
}

.mt-xxsm {
    margin-top: $spacing-stack-xxsmall;
}

.mt-xsm {
    margin-top: $spacing-stack-xsmall;
}

.mt-sm {
    margin-top: $spacing-stack-small;
}

.mt-md {
    margin-top: $spacing-stack-medium;
}

.mt-lg {
    margin-top: $spacing-stack-large;
}

.mt-xlg {
    margin-top: $spacing-stack-xlarge;
}

.mt-xxlg {
    margin-top: $spacing-stack-xxlarge;
}

.mt-xxxlg {
    margin-top: $spacing-stack-xxxlarge;
}

.mt-huge {
    margin-top: $spacing-stack-huge;
}

.mt-xhuge {
    margin-top: $spacing-stack-xhuge;
}

// ----------------------------

.ml-pixel {
    margin-left: $spacing-stack-pixel;
}

.ml-xxsm {
    margin-left: $spacing-stack-xxsmall;
}

.ml-xsm {
    margin-left: $spacing-stack-xsmall;
}

.ml-sm {
    margin-left: $spacing-stack-small;
}

.ml-md {
    margin-left: $spacing-stack-medium;
}

.ml-lg {
    margin-left: $spacing-stack-large;
}

.ml-xlg {
    margin-left: $spacing-stack-xlarge;
}

.ml-xxlg {
    margin-left: $spacing-stack-xxlarge;
}

.ml-xxxlg {
    margin-left: $spacing-stack-xxxlarge;
}

.ml-huge {
    margin-left: $spacing-stack-huge;
}

.ml-xhuge {
    margin-left: $spacing-stack-xhuge;
}

// ----------------------------

.mr-pixel {
    margin-right: $spacing-stack-pixel;
}

.mr-xxsm {
    margin-right: $spacing-stack-xxsmall;
}

.mr-xsm {
    margin-right: $spacing-stack-xsmall;
}

.mr-sm {
    margin-right: $spacing-stack-small;
}

.mr-md {
    margin-right: $spacing-stack-medium;
}

.mr-lg {
    margin-right: $spacing-stack-large;
}

.mr-xlg {
    margin-right: $spacing-stack-xlarge;
}

.mr-xxlg {
    margin-right: $spacing-stack-xxlarge;
}

.mr-xxxlg {
    margin-right: $spacing-stack-xxxlarge;
}

.mr-huge {
    margin-right: $spacing-stack-huge;
}

.mr-xhuge {
    margin-right: $spacing-stack-xhuge;
}

// ----------------------------

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.mx-pixel {
    margin-right: $spacing-stack-pixel;
    margin-left: $spacing-stack-pixel;
}

.mx-xxsm {
    margin-right: $spacing-stack-xxsmall;
    margin-left: $spacing-stack-xxsmall;
}

.mx-xsm {
    margin-right: $spacing-stack-xsmall;
    margin-left: $spacing-stack-xsmall;
}

.mx-sm {
    margin-right: $spacing-stack-small;
    margin-left: $spacing-stack-small;
}

.mx-md {
    margin-right: $spacing-stack-medium;
    margin-left: $spacing-stack-medium;
}

.mx-lg {
    margin-right: $spacing-stack-large;
    margin-left: $spacing-stack-large;
}

.mx-xlg {
    margin-right: $spacing-stack-xlarge;
    margin-left: $spacing-stack-xlarge;
}

.mx-xxlg {
    margin-right: $spacing-stack-xxlarge;
    margin-left: $spacing-stack-xxlarge;
}

.mx-xxxlg {
    margin-right: $spacing-stack-xxxlarge;
    margin-left: $spacing-stack-xxxlarge;
}

.mx-huge {
    margin-right: $spacing-stack-huge;
    margin-left: $spacing-stack-huge;
}

.mx-xhuge {
    margin-right: $spacing-stack-xhuge;
    margin-left: $spacing-stack-xhuge;
}

// ----------------------------

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.my-pixel {
    margin-top: $spacing-stack-pixel;
    margin-bottom: $spacing-stack-pixel;
}

.my-xxsm {
    margin-top: $spacing-stack-xxsmall;
    margin-bottom: $spacing-stack-xxsmall;
}

.my-xsm {
    margin-top: $spacing-stack-xsmall;
    margin-bottom: $spacing-stack-xsmall;
}

.my-sm {
    margin-top: $spacing-stack-small;
    margin-bottom: $spacing-stack-small;
}

.my-md {
    margin-top: $spacing-stack-medium;
    margin-bottom: $spacing-stack-medium;
}

.my-lg {
    margin-top: $spacing-stack-large;
    margin-bottom: $spacing-stack-large;
}

.my-xlg {
    margin-top: $spacing-stack-xlarge;
    margin-bottom: $spacing-stack-xlarge;
}

.my-xxlg {
    margin-top: $spacing-stack-xxlarge;
    margin-bottom: $spacing-stack-xxlarge;
}

.my-xxxlg {
    margin-top: $spacing-stack-xxxlarge;
    margin-bottom: $spacing-stack-xxxlarge;
}

.my-huge {
    margin-top: $spacing-stack-huge;
    margin-bottom: $spacing-stack-huge;
}

.my-xhuge {
    margin-top: $spacing-stack-xhuge;
    margin-bottom: $spacing-stack-xhuge;
}

// ----------------------------

.m-pixel {
    margin: $spacing-stack-pixel;
}

.m-xxsm {
    margin: $spacing-stack-xxsmall;
}

.m-xsm {
    margin: $spacing-stack-xsmall;
}

.m-sm {
    margin: $spacing-stack-small;
}

.m-md {
    margin: $spacing-stack-medium;
}

.m-lg {
    margin: $spacing-stack-large;
}

.m-xlg {
    margin: $spacing-stack-xlarge;
}

.m-xxlg {
    margin: $spacing-stack-xxlarge;
}

.m-xxxlg {
    margin: $spacing-stack-xxxlarge;
}

.m-huge {
    margin: $spacing-stack-huge;
}

.m-xhuge {
    margin: $spacing-stack-xhuge;
}

//
// 
// --------------------
// --------------------
//
//

.pb-pixel {
    padding-bottom: $spacing-stack-pixel;
}

.pb-xxsm {
    padding-bottom: $spacing-stack-xxsmall;
}

.pb-xsm {
    padding-bottom: $spacing-stack-xsmall;
}

.pb-sm {
    padding-bottom: $spacing-stack-small;
}

.pb-md {
    padding-bottom: $spacing-stack-medium;
}

.pb-lg {
    padding-bottom: $spacing-stack-large;
}

.pb-xlg {
    padding-bottom: $spacing-stack-xlarge;
}

.pb-xxlg {
    padding-bottom: $spacing-stack-xxlarge;
}

.pb-xxxlg {
    padding-bottom: $spacing-stack-xxxlarge;
}

.pb-huge {
    padding-bottom: $spacing-stack-huge;
}

.pb-xhuge {
    padding-bottom: $spacing-stack-xhuge;
}

// ----------------------------

.pt-pixel {
    padding-top: $spacing-stack-pixel;
}

.pt-xxsm {
    padding-top: $spacing-stack-xxsmall;
}

.pt-xsm {
    padding-top: $spacing-stack-xsmall;
}

.pt-sm {
    padding-top: $spacing-stack-small;
}

.pt-md {
    padding-top: $spacing-stack-medium;
}

.pt-lg {
    padding-top: $spacing-stack-large;
}

.pt-xlg {
    padding-top: $spacing-stack-xlarge;
}

.pt-xxlg {
    padding-top: $spacing-stack-xxlarge;
}

.pt-xxxlg {
    padding-top: $spacing-stack-xxxlarge;
}

.pt-huge {
    padding-top: $spacing-stack-huge;
}

.pt-xhuge {
    padding-top: $spacing-stack-xhuge;
}

// ----------------------------

.pl-pixel {
    padding-left: $spacing-stack-pixel;
}

.pl-xxsm {
    padding-left: $spacing-stack-xxsmall;
}

.pl-xsm {
    padding-left: $spacing-stack-xsmall;
}

.pl-sm {
    padding-left: $spacing-stack-small;
}

.pl-md {
    padding-left: $spacing-stack-medium;
}

.pl-lg {
    padding-left: $spacing-stack-large;
}

.pl-xlg {
    padding-left: $spacing-stack-xlarge;
}

.pl-xxlg {
    padding-left: $spacing-stack-xxlarge;
}

.pl-xxxlg {
    padding-left: $spacing-stack-xxxlarge;
}

.pl-huge {
    padding-left: $spacing-stack-huge;
}

.pl-xhuge {
    padding-left: $spacing-stack-xhuge;
}

// ----------------------------

.pr-pixel {
    padding-right: $spacing-stack-pixel;
}

.pr-xxsm {
    padding-right: $spacing-stack-xxsmall;
}

.pr-xsm {
    padding-right: $spacing-stack-xsmall;
}

.pr-sm {
    padding-right: $spacing-stack-small;
}

.pr-md {
    padding-right: $spacing-stack-medium;
}

.pr-lg {
    padding-right: $spacing-stack-large;
}

.pr-xlg {
    padding-right: $spacing-stack-xlarge;
}

.pr-xxlg {
    padding-right: $spacing-stack-xxlarge;
}

.pr-xxxlg {
    padding-right: $spacing-stack-xxxlarge;
}

.pr-huge {
    padding-right: $spacing-stack-huge;
}

.pr-xhuge {
    padding-right: $spacing-stack-xhuge;
}

// ----------------------------

.px-auto {
    padding-right: auto;
    padding-left: auto;
}

.px-pixel {
    padding-right: $spacing-stack-pixel;
    padding-left: $spacing-stack-pixel;
}

.px-xxsm {
    padding-right: $spacing-stack-xxsmall;
    padding-left: $spacing-stack-xxsmall;
}

.px-xsm {
    padding-right: $spacing-stack-xsmall;
    padding-left: $spacing-stack-xsmall;
}

.px-sm {
    padding-right: $spacing-stack-small;
    padding-left: $spacing-stack-small;
}

.px-md {
    padding-right: $spacing-stack-medium;
    padding-left: $spacing-stack-medium;
}

.px-lg {
    padding-right: $spacing-stack-large;
    padding-left: $spacing-stack-large;
}

.px-xlg {
    padding-right: $spacing-stack-xlarge;
    padding-left: $spacing-stack-xlarge;
}

.px-xxlg {
    padding-right: $spacing-stack-xxlarge;
    padding-left: $spacing-stack-xxlarge;
}

.px-xxxlg {
    padding-right: $spacing-stack-xxxlarge;
    padding-left: $spacing-stack-xxxlarge;
}

.px-huge {
    padding-right: $spacing-stack-huge;
    padding-left: $spacing-stack-huge;
}

.px-xhuge {
    padding-right: $spacing-stack-xhuge;
    padding-left: $spacing-stack-xhuge;
}

// ----------------------------

.py-auto {
    padding-top: auto;
    padding-bottom: auto;
}

.py-pixel {
    padding-top: $spacing-stack-pixel;
    padding-bottom: $spacing-stack-pixel;
}

.py-xxsm {
    padding-top: $spacing-stack-xxsmall;
    padding-bottom: $spacing-stack-xxsmall;
}

.py-xsm {
    padding-top: $spacing-stack-xsmall;
    padding-bottom: $spacing-stack-xsmall;
}

.py-sm {
    padding-top: $spacing-stack-small;
    padding-bottom: $spacing-stack-small;
}

.py-md {
    padding-top: $spacing-stack-medium;
    padding-bottom: $spacing-stack-medium;
}

.py-lg {
    padding-top: $spacing-stack-large;
    padding-bottom: $spacing-stack-large;
}

.py-xlg {
    padding-top: $spacing-stack-xlarge;
    padding-bottom: $spacing-stack-xlarge;
}

.py-xxlg {
    padding-top: $spacing-stack-xxlarge;
    padding-bottom: $spacing-stack-xxlarge;
}

.py-xxxlg {
    padding-top: $spacing-stack-xxxlarge;
    padding-bottom: $spacing-stack-xxxlarge;
}

.py-huge {
    padding-top: $spacing-stack-huge;
    padding-bottom: $spacing-stack-huge;
}

.py-xhuge {
    padding-top: $spacing-stack-xhuge;
    padding-bottom: $spacing-stack-xhuge;
}

// ----------------------------

.p-pixel {
    padding: $spacing-stack-pixel;
}

.p-xxsm {
    padding: $spacing-stack-xxsmall;
}

.p-xsm {
    padding: $spacing-stack-xsmall;
}

.p-sm {
    padding: $spacing-stack-small;
}

.p-md {
    padding: $spacing-stack-medium;
}

.p-lg {
    padding: $spacing-stack-large;
}

.p-xlg {
    padding: $spacing-stack-xlarge;
}

.p-xxlg {
    padding: $spacing-stack-xxlarge;
}

.p-xxxlg {
    padding: $spacing-stack-xxxlarge;
}

.p-huge {
    padding: $spacing-stack-huge;
}

.p-xhuge {
    padding: $spacing-stack-xhuge;
}