* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    background-color: $color-base-white;

    min-height: 100vh;
    width: 100vw;
}

*, input, button {
    background: none;
    border: none;
    outline: none;
    font: $font-weight-regular $font-size-md $font-families-default;
    color: $color-text-900;
}